:root{
   

}
body{
font-family: roboto, sans-serif;
}
.cap-logo {
    color: #2196F3;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em; 
}
.cap-colortext {
    color: #000000;
}
.cap-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02em;
}
.cap-link:hover,
.cap-link:focus{
    color: #2196F3;
}
.contact-link {
   color: #757575;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.17;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
   color: #2196F3;
}
.box {
    background-color: #2F303A; 
}
.box-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.box-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
}
.box-button:hover,
.box-button:focus {

}
.benefits-title {
   color: #212121;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.17;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}
.benefits-text{
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    text-transform: none;
    letter-spacing: 0.03em;
}
.directions-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
.member-title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
    text-align: center;
}
.member-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
.member-position{
    color: #757575;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    padding-left: 0;
}
.basement {
    background-color: #2F303A;
}
.basement-logo {
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.basement-colortext {
    color: #FFFFFF;
}
.basement-address {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.basement-link {
    color: #FFFFFF60;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.filter-button {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0.03em;
}
.filter-button:hover,
.filters-button:focus {
   background-color: #2196F3;
   color: #FFFFFF;
}
.presentation-subject {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-transform: none;
    letter-spacing: 0.06em;
}
.presentation-direction {
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    text-transform: none;
    letter-spacing: 0.03em;
}

